@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}





html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;


}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span {
    background: var(--orange);
    color: #fff;
    display: inline-block;
    padding: 5rem 3rem;
    clip-path: polygon(100% 30%, 81% 50%, 100% 70%, 0% 70%, 20% 50%, 0% 30%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    /* Adjusted padding */
    font-size: 1.7rem;
    border-radius: 0.5rem;
    /* Used full notation for zero */
    border: 0.2rem solid black;
    color: black;
    /* Added semicolon to separate properties */
    cursor: pointer;
    /* Added semicolon to separate properties */
    background: none;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    color: var(--orange);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    text-align: center;
}

.header .icons div:hover {
    background: var(--orange);
    color: #fff;
}

.btn:hover {
    background: #fff;
    color: white;
    background-color: var(--orange);
}


.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 4rem;
    background: #fff;
    border-radius: .5rem;

    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    right: 2rem;
    transition: 0.2s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--orange);
}

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;

    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: 0.2s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
    position: relative;
}

.header .shopping-cart .box img {
    height: 8rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--orange);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .login-form {
    position: absolute;
    top: 110%;
    right: -110%;

    width: 30rem;
    box-shadow: var(--black);
    padding: 2rem;
    border-radius: 5rem;
    background: #fff;
    text-align: center;
}


.header .login-form.active {
    right: 2rem;
    transition: 0.2s linear;
}

.header .login-form h3 {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
    text-transform: uppercase;
}

.header .login-form .box {
    padding: 1rem 2rem;

    background-color: #fff;
}

.header .login-form .btn {
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: var(--orange);
}

.header .login-form p {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    text-transform: uppercase;

}

.header .login-form p a {
    color: var(--orange);
    text-decoration: underline;
}



.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(imges/bg1.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 13rem;

}

.home .content {
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    color: black;
    font-size: 4rem;
    font-family: "Dancing Script", cursive;


}


.home .content h3 span {
    color: var(--orange);

}

.home .content p {
    font-family: "Rochester", cursive;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 1.8;

}

.features h1 {
    font-size: 2.5rem;
    font-family: "Sofia", sans-serif;
}

.features h1 span {
    font-size: 2.5rem;
    font-family: "Sofia", sans-serif;
}

.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.3rem;
}

.features .box-container .box {
    padding: 3rem 2rem;
    /* Adjusted padding units */
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 50px;
    /* Ensure consistency in box shadow */

}

.features .box-container .box:hover {

    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .box-container .box img {

    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8rem;
    color: var(--black);
    text-align: left;

}

.features .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--light-color);
    padding: 1rem 0;
    text-align: left;

}

.features .box-container .box img {
    margin: 1rem 0;
    height: 15rem;

}

.features .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8rrem;
    color: var(--blacks);
}



.products .product-slider {
    padding: 1rem;
}

.products .product-slider:first-child {
    margin-bottom: 2rem
}

.products .product-slider .box {
    background: #fff;
    border-radius: 5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 2s linear;
}

.products .product-slider .box:hover {
    outline-offset: 0rem;
    outline: var(--outline-hover);

}

.products .product-slider .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.products .product-slider .box .price {
    font-size: 2rem;
    color: var(--light-color);

}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.3rem;
}

.products h1 {
    font-size: 2rem;
    font-family: "Sofia", sans-serif;
}

.products h1 span {
    font-family: "Sofia", sans-serif;
}

.catagories h1 {
    font-family: "Sofia", sans-serif;
    font-size: 2rem;
}

.catagories h1 span {
    font-family: "Sofia", sans-serif;
    font-size: 2rem;
}

.catagories .box-container .box {
    background: #fff;

    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}

.catagories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.3rem;
}

.catagories .box-container .box:hover {
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.catagories .box-container .box img {
    height: 15rem;
    margin: 1rem 0;
}

.catagories .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;

}

.catagories .box-container .box p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;

}

.review .review-slider {
    padding: 1rem;

}

.review .review-slider .box {
    background: #fff;
    border-radius: 5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 2s linear;

}

.review .review-slider .box:hover {
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.review .review-slider .box img {
    height: 10rem;
    width: 10rem;
    border-radius: 30%;
}

.review .review-slider .box p {
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);

}

.review .review-slider .box h3 {
    font-size: 2.2rem;
    padding-bottom: 5rem;

    color: var(--black);

}

.review .review-slider .box .stars {
    font-size: 1.7rem;


    color: var(--orange);

}

.review h1 {
    font-family: "Sofia", sans-serif;
    font-size: 2rem;
}

.review h1 span {
    font-family: "Sofia", sans-serif;
    font-size: 3rem;
}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.blogs .box-container .box {
    overflow: hidden;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.blogs .box-container .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;

}

.blogs .box-container .box .content {
    padding: 1rem;

}

.blogs .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a {
    color: var(--light-color);
    font-size: 1.5rem;

}

.blogs .box-container .box .content .icons a:hover {

    color: var(--black);

}

.blogs .box-container .box .content .icons a i {
    color: var(--orange);
    padding-right: 5rem;

}

.blogs .box-container .box .content h3 {


    line-height: 1.2;
    color: var(--black);
    font-size: 1.8rem;
    padding: 2.9rem 0;

}

.blogs .box-container .box .content p {


    line-height: 1.2;
    color: var(--black);
    font-size: 1.4rem;
    padding: 2.8rem 0;

}

.blogs h1 {
    font-family: "Sofia", sans-serif;
    font-size: 2rem;
}

.blogs h1 span {
    font-family: "Sofia", sans-serif;
    font-size: 3rem;
}

.footer {
    background: #fff;

}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;

}


.footer .box-container .box h3 i {
    color: var(--orange);

}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    color: var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: 2rem;
    background: #eee;
    text-align: center;
}



.footer .box-container .box .email {
    width: 100%;
    margin: 2rem 0;
    padding: .5rem;
    border-radius: 5 rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box input {
    width: 50%;
    margin: 2rem 0;
    padding: .5rem;
    border-radius: 5rem;

}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #130f40;
}

.footer .box-container .box .payment-img {
    margin-top: 0.1rem;
    height: rem;

}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 1.5rem;
    color: var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color: var(--orange);

}







@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem 9%;
    }
}







@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        /* Corrected from 110% */
        width: 39rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active {
        /* Removed dot before active */
        right: 2rem;
        transition: 0.2s linear;
        /* Added 's' after 0.2 */
    }

    .header .navbar a {
        font-size: 50%;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {

        font-size: 2.5rem;
    }
}

.footer{
    text-align: center;
}